/* Палитра цветов 
#757575 основной цвет текста
#212121 второй цвет текста
#FFFFFF третий цвет текста, третий цвет фона
#000000 лого
#2196F3 акцент
rgba(255, 255, 255, 0.6) контакты футер
#F5F4FA основной цвет фона
#2F303A второй цвет фона
*/
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --tertiary-text-color: #ffffff;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #f5f4fa;
  --secondary-background-color: #2f303a;
  --tertiary-background-color: #ffffff;
}
header {
  background-color: var(--tertiary-background-color);
}
body {
  color: var(--primary-text-color);
}
main {
  background-color: var(--primary-background-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.upcase {
  text-transform: uppercase;
}
.logo {
  color: var(--logo-color);
}
.logo-first-part {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--secondary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.address {
  font-style: normal;
}
.site-contacts .contacts {
  color: var(--primary-text-color);
}
.site-contacts .contacts:hover,
.site-contacts .contacts:focus {
  color: var(--accent-color);
}
.hero {
  background-color: var(--secondary-background-color);
  color: var(--tertiary-text-color);
}
.hero-order {
  background-color: var(--accent-color);
  color: var(--tertiary-text-color);
}
.section-title {
  color: var(--secondary-text-color);
}
footer {
  background-color: var(--secondary-background-color);
}
.logo-footer {
  color: var(--tertiary-text-color);
}
.address-footer .address-str {
  color: var(--tertiary-text-color);
}
.address-footer .address-footer-contacts {
  color: var(--contacts-footer-color);
}
.address-footer .address-footer-contacts:hover,
.address-footer .address-footer-contacts:focus {
  color: var(--accent-color);
}

/* portfolio.html */
.filter .filter-button {
  background-color: var(--primary-background-color);
  color: var(--secondary-text-color);
}
.filter .filter-button:hover,
.filter .filter-button:focus {
  background-color: var(--accent-color);
  color: var(--tertiary-text-color);
}
.projects-list .title {
  color: var(--secondary-text-color);
}
.projects-list .text {
  color: var(--primary-text-color);
}
